body{
  background-image: linear-gradient(to left,green,white,#FF9933);
  /*background-image: radial-gradient(green,white,#FF9933);*/
  margin: 10px;
}
ul{
  list-style-type: none;
  background-color: grey;
  padding: 15px;
  overflow: hidden;
}
li{
  float: left;
}
li>a{
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: white;
}
li>a:hover{
  background-color: black;
}
hr{
  margin-top: -18px;
}
.f1,.f2{
  text-decoration: none;
  color: black;
  padding-left: 400px;

}
footer>a:hover{
  color: white;
}
.f1{
  text-align: left;
}
.f2{
  position: relative;
  right: 3px;
}
