
.logo>center>img{
  background-color:
  height: 50px;
  width: 120px;
  margin-top: 10px;
}
.logo>center>p{
  font-size: 70px;
  font-weight: bold;
  margin-top: -30px;
  color: #ffffff;
}
.logo{
  background-color: #000000;
}
/*.main>img{
  width: 100%;
  height: 100%;
  opacity: 0.4;
  margin-top: -65px;
  background-attachment: fixed;
  background-image: url(Y:\UI Tech\images\avengers.jpg);
}*/
body{
  background-size: cover;

  background-color: #243687;
}
.main{
  position: relative;
  top: -40px;
}
.sameline1{
  height: 350px;
  width: 300px;

  float: left;
  border-style: solid;
  border-radius: 10px;
  border-color: #000000;
  overflow: scroll;
  box-shadow: 5px 5px #ffffff;
  margin-left: 22px;
  margin-bottom: 22px;
}
.sameline1>h2{
  text-align: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: verdana;
  color: #ffffff;
}
.sameline1>p{
  color: #000000;
  font-weight: bold;
}
footer>span{
  margin-left: 85px;


}
/*footer{
  background-color: #ec1d24;
}*/
.ft{
  color: #ffffff;
  text-decoration: none;
}
.ft:hover{
  color: #000000;
}







/*#ec1d24
#ffffff
#243687-blue
#000000*/
